
//
// VARIABLES
//

// Colors
$lightGreen: #C9F2C7;
$purple: #820263;
$turquoise: #2DE1C2;
$charcoal: #2E4057;
$lightBrown: #C4A69D;
$veryLightb: #c4a69d47;
$white: #fff;

// Grays
$black: #333;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$Raleway: 'Raleway', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Dosis: 'Dosis', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
