
//
// VARIABLES
//

// Colors
$lightgreen: #C9F2C7;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$Raleway: 'Raleway', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Dosis: 'Dosis', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
